<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ резюме из HeadHunter

In [780]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Исследование структуры данных

1. Прочитайте данные с помощью библиотеки Pandas. Совет: перед чтением обратите внимание на разделитель внутри файла.

In [781]:
hh_database = pd.read_csv('data/dst-3.0_16_1_hh_database.csv', sep=';', on_bad_lines='skip')

2. Выведите несколько первых (последних) строк таблицы, чтобы убедиться в том, что ваши данные не повреждены. Ознакомьтесь с признаками и их структурой.

In [782]:
hh_database.head(5)

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

3. Выведите основную информацию о числе непустых значений в столбцах и их типах в таблице.

In [783]:
hh_database.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

4. Обратите внимание на информацию о числе непустых значений.

In [784]:
# Определяем перечень столбцов с пропусками и процент непустых значений для них
cols_nonnull_percent = 100 - hh_database.isnull().mean() * 100
cols_with_null = cols_nonnull_percent[cols_nonnull_percent<100].sort_values(ascending=True)
display(cols_with_null)

Опыт работы                        99.624531
Последняя/нынешняя должность       99.995530
Последнее/нынешнее место работы    99.997765
dtype: float64

5. Выведите основную статистическую информацию о столбцах.

In [785]:
hh_database.describe()

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
count,44744,44744,44744,44744,44744,44744,44576,44743,44742,44744,44744,44744
unique,16003,690,14929,10063,38,47,44413,30214,16927,40148,18838,2
top,"Мужчина , 32 года , родился 17 сентября 1986",50000 руб.,Системный администратор,"Москва , не готов к переезду , не готов к кома...",полная занятость,полный день,Опыт работы 10 лет 8 месяцев Апрель 2018 — по...,Индивидуальное предпринимательство / частная п...,Системный администратор,Высшее образование 1987 Военный инженерный Кра...,07.05.2019 09:50,Не указано
freq,18,4064,3099,1261,30026,22727,3,935,2062,4,25,32268

# Преобразование данных

1. Начнем с простого - с признака **"Образование и ВУЗ"**. Его текущий формат это: **<Уровень образования год выпуска ВУЗ специальность...>**. Например:
* Высшее образование 2016 Московский авиационный институт (национальный исследовательский университет)...
* Неоконченное высшее образование 2000  Балтийская государственная академия рыбопромыслового флота…
Нас будет интересовать только уровень образования.

Создайте с помощью функции-преобразования новый признак **"Образование"**, который должен иметь 4 категории: "высшее", "неоконченное высшее", "среднее специальное" и "среднее".

Выполните преобразование, ответьте на контрольные вопросы и удалите признак "Образование и ВУЗ".

Совет: обратите внимание на структуру текста в столбце **"Образование и ВУЗ"**. Гарантируется, что текущий уровень образования соискателя всегда находится в первых 2ух слов и начинается с заглавной буквы. Воспользуйтесь этим.

*Совет: проверяйте полученные категории, например, с помощью метода unique()*

In [786]:
def get_education_level(education):
    # Создаем список категорий образования
    level_list = ['высшее', 'неоконченное высшее', 'среднее специальное', 'среднее']
    # Разбиваем строку на слова через пробелы
    education_list = education.lower().split(' ')
    # Проверяем соответсвтие категории образования сначала в первых двух словах
    if str(education_list[0] + ' ' + education_list[1]) in level_list:
        education_type =  str(education_list[0] + ' ' + education_list[1])
    # Затем только в первом
    else:
        education_type = education_list[0]
    return education_type

# Применяем функцию
hh_database['Образование'] = hh_database['Образование и ВУЗ'].apply(get_education_level)

# Проверяем количество уникальных категорий
print('Количество уникальных категорий образования: ', hh_database['Образование'].nunique())

#Удаляем столбцец "Образование и ВУЗ"
hh_database.drop(['Образование и ВУЗ'], axis=1, inplace=True)

# Проверяем состав столбцов
print('Список столбцов: ', hh_database.columns)

Количество уникальных категорий образования:  4
Список столбцов:  Index(['Пол, возраст', 'ЗП', 'Ищет работу на должность:',
       'Город, переезд, командировки', 'Занятость', 'График', 'Опыт работы',
       'Последнее/нынешнее место работы', 'Последняя/нынешняя должность',
       'Обновление резюме', 'Авто', 'Образование'],
      dtype='object')

2. Теперь нас интересует столбец **"Пол, возраст"**. Сейчас он представлен в формате **<Пол , возраст , дата рождения >**. Например:
* Мужчина , 39 лет , родился 27 ноября 1979 
* Женщина , 21 год , родилась 13 января 2000
Как вы понимаете, нам необходимо выделить каждый параметр в отдельный столбец.

Создайте два новых признака **"Пол"** и **"Возраст"**. При этом важно учесть:
* Признак пола должен иметь 2 уникальных строковых значения: 'М' - мужчина, 'Ж' - женщина. 
* Признак возраста должен быть представлен целыми числами.

Выполните преобразование, ответьте на контрольные вопросы и удалите признак **"Пол, возраст"** из таблицы.

*Совет: обратите внимание на структуру текста в столбце, в части на то, как разделены параметры пола, возраста и даты рождения между собой - символом ' , '. 
Гарантируется, что структура одинакова для всех строк в таблице. Вы можете воспользоваться этим.*

In [787]:
def get_gender_and_age(arg):
    # Разбиваем строку на слова через запятую
    gender_age_list = arg.split(' , ')
    # Проверяем пол
    if gender_age_list[0] == 'Мужчина':
        gender = 'М'
    else:
        gender = 'Ж'
    # Проверяем возраст
    age_list = gender_age_list[1].split(' ')
    age = int(age_list[1])
    return pd.Series([gender, age])

# Применяем функцию
hh_database[['Пол', 'Возраст']] = hh_database['Пол, возраст'].apply(get_gender_and_age)

# Проверяем количество уникальных категорий пола
print('Количество уникальных категорий пола: ', hh_database['Пол'].nunique())

#Удаляем столбцец "Образование и ВУЗ"
hh_database.drop(['Пол, возраст'], axis=1, inplace=True)

# Проверяем состав столбцов
print('Список столбцов: ', hh_database.columns)

Количество уникальных категорий пола:  2
Список столбцов:  Index(['ЗП', 'Ищет работу на должность:', 'Город, переезд, командировки',
       'Занятость', 'График', 'Опыт работы', 'Последнее/нынешнее место работы',
       'Последняя/нынешняя должность', 'Обновление резюме', 'Авто',
       'Образование', 'Пол', 'Возраст'],
      dtype='object')

3. Следующим этапом преобразуем признак **"Опыт работы"**. Его текущий формат - это: **<Опыт работы: n лет m месяцев, периоды работы в различных компаниях…>**. 

Из столбца нам необходимо выделить общий опыт работы соискателя в месяцах, новый признак назовем "Опыт работы (месяц)"

Для начала обсудим условия решения задачи:
* Во-первых, в данном признаке есть пропуски. Условимся, что если мы встречаем пропуск, оставляем его как есть (функция-преобразование возвращает NaN)
* Во-вторых, в данном признаке есть скрытые пропуски. Для некоторых соискателей в столбце стоит значения "Не указано". Их тоже обозначим как NaN (функция-преобразование возвращает NaN)
* В-третьих, нас не интересует информация, которая описывается после указания опыта работы (периоды работы в различных компаниях)
* В-четвертых, у нас есть проблема: опыт работы может быть представлен только в годах или только месяцах. Например, можно встретить следующие варианты:
    * Опыт работы 3 года 2 месяца…
    * Опыт работы 4 года…
    * Опыт работы 11 месяцев…
    * Учитывайте эту особенность в вашем коде

Учитывайте эту особенность в вашем коде

В результате преобразования у вас должен получиться столбец, содержащий информацию о том, сколько месяцев проработал соискатель.
Выполните преобразование, ответьте на контрольные вопросы и удалите столбец **"Опыт работы"** из таблицы.

In [788]:
def get_experience(arg):
# Список обозначений месяцев
    months_exclude_list = ['месяц', 'месяца', 'месяцев']
# Список обозначений лет
    years_exclude_list = ['год', 'лет', 'года']
# Разбиваем строку на слова через пробел    
    experience_list = str(arg).split(' ')
# Проверяем потенциальное указание на месяц и год
    if arg is np.nan or experience_list[0] != 'Опыт':
        return np.nan
    else:
        output = 0
        if (experience_list[5] in months_exclude_list) and (experience_list[3] in years_exclude_list):
    # Складываем месяцы неполного и полных лет
            output = int(experience_list[4]) + (int(experience_list[2])*12)
        elif (experience_list[5] in months_exclude_list):
    # Учитываем только месяцы неполного года
            output = int(experience_list[4])
    # Учитываем только месяцы полных лет
        elif (experience_list[3] in years_exclude_list):
            output = int(experience_list[2])*12
        return output

# Применяем функцию
hh_database['Опыт работы (месяц)'] = hh_database['Опыт работы'].apply(get_experience)

# Удаляем столбцец "Образование и ВУЗ"
hh_database.drop(['Опыт работы'], axis=1, inplace=True)

4. Хорошо идем! Следующий на очереди признак "Город, переезд, командировки". Информация в нем представлена в следующем виде: **<Город , (метро) , готовность к переезду (города для переезда) , готовность к командировкам>**. В скобках указаны необязательные параметры строки. Например, можно встретить следующие варианты:

* Москва , не готов к переезду , готов к командировкам
* Москва , м. Беломорская , не готов к переезду, не готов к командировкам
* Воронеж , готов к переезду (Сочи, Москва, Санкт-Петербург) , готов к командировкам

Создадим отдельные признаки **"Город"**, **"Готовность к переезду"**, **"Готовность к командировкам"**. При этом важно учесть:

* Признак **"Город"** должен содержать только 4 категории: "Москва", "Санкт-Петербург" и "город-миллионник" (их список ниже), остальные обозначьте как "другие".

    Список городов-миллионников:
    
   <code>million_cities = ['Новосибирск', 'Екатеринбург','Нижний Новгород','Казань', 'Челябинск','Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж','Волгоград']
    </code>
    Инфорация о метро, рядом с которым проживает соискатель нас не интересует.
* Признак **"Готовность к переезду"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к переезду в признаке "Город, переезд, командировки". Например:
    * … , готов к переезду , …
    * … , не готова к переезду , …
    * … , готова к переезду (Москва, Санкт-Петербург, Ростов-на-Дону)
    * … , хочу переехать (США) , …
    
    Нас интересует только сам факт возможности или желания переезда.
* Признак **"Готовность к командировкам"** должен иметь два возможных варианта: True или False. Обратите внимание, что возможны несколько вариантов описания готовности к командировкам в признаке "Город, переезд, командировки". Например:
    * … , готов к командировкам , … 
    * … , готова к редким командировкам , …
    * … , не готов к командировкам , …
    
    Нас интересует только сам факт готовности к командировке.
    
    Еще один важный факт: при выгрузки данных у некоторых соискателей "потерялась" информация о готовности к командировкам. Давайте по умолчанию будем считать, что такие соискатели не готовы к командировкам.
    
Выполните преобразования и удалите столбец **"Город, переезд, командировки"** из таблицы.

*Совет: обратите внимание на то, что структура текста может меняться в зависимости от указания ближайшего метро. Учите это, если будете использовать порядок слов в своей программе.*

In [789]:
def get_move_info(arg):
    # Создаем множество городов-миллиоников
    million_cities = {'Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 
                      'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' }
    # Создаем множество "главных" городов, являющие и значениями требуемых категорий
    main_cities = {'Москва', 'Санкт-Петербург'} 
    # Создаем множество негативны ключевых слов (в данном случае только частица "не")
    negative_list = {'не'}
    # Создаем множество ключевых слов для проверки наличия данных о готовности к командировкам
    trip_list = {'командировкам', 'командировке', 'командировки', 'командировкам'}
    # Разбиваем строку на слова через заяпятую
    info_list = arg.split(' , ')
    
    # Определяем город проживания
    if set(info_list[0].split()) & main_cities:
        city = info_list[0]
    elif set(info_list[0].split()) & million_cities:
        city = 'город-миллионник'
    else:
        city = 'другие'
    
    # Определяем готовность к переезду и коандировкам
    if set(info_list[-1].split()) & trip_list:
        if set(info_list[-1].split()) & negative_list:
            trip_ready = False
        else:
            trip_ready = True
        if set(info_list[-2].split()) & negative_list:
                move_ready = False
        else:
                move_ready = True
    else:
        trip_ready = False
        if set(info_list[-1].split()) & negative_list:
                move_ready = False
        else:
                move_ready = True
       
    return pd.Series([city, move_ready, trip_ready])

# Применяем функцию    
hh_database[['Город', 'Готовность к переезду', 'Готовность к командировкам']] = hh_database['Город, переезд, командировки'].apply(get_move_info)

# Удаляем столбцец "Город, переезд, командировки"
hh_database.drop(['Город, переезд, командировки'], axis=1, inplace=True)

5. Рассмотрим поближе признаки **"Занятость"** и **"График"**. Сейчас признаки представляют собой набор категорий желаемой занятости (полная занятость, частичная занятость, проектная работа, волонтерство, стажировка) и желаемого графика работы (полный день, сменный график, гибкий график, удаленная работа, вахтовый метод).
На сайте hh.ru соискатель может указывать различные комбинации данных категорий, например:
* полная занятость, частичная занятость
* частичная занятость, проектная работа, волонтерство
* полный день, удаленная работа
* вахтовый метод, гибкий график, удаленная работа, полная занятость

Такой вариант признаков имеет множество различных комбинаций, а значит множество уникальных значений, что мешает анализу. Нужно это исправить!

Давайте создадим признаки-мигалки для каждой категории: если категория присутствует в списке желаемых соискателем, то в столбце на месте строки рассматриваемого соискателя ставится True, иначе - False.

Такой метод преобразования категориальных признаков называется One Hot Encoding и его схема представлена на рисунке ниже:
<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/ohe.jpg>
Выполните данное преобразование для признаков "Занятость" и "График", ответьте на контрольные вопросы, после чего удалите их из таблицы

In [790]:
def get_employment(employment):
    # Создаем список ключевых слов для проверки категории занятости
    employment_categories = ['полная занятость', 'частичная занятость', 'проектная работа', 'стажировка', 'волонтерство']
    # Разбиваем строку на слова через заяпятую
    employment_set = employment.split(', ')
    employment_set_var = set(employment_set)
    
    # Определяем категории занятости
    if employment_set_var & set(employment_categories[0].split(',')):
        full_time = True
    else:
        full_time = False
    
    if employment_set_var & set(employment_categories[1].split(',')):
        part_time = True
    else:
        part_time = False
        
    if employment_set_var & set(employment_categories[2].split(',')):
        project = True
    else:
        project = False
        
    if employment_set_var & set(employment_categories[3].split(',')):
        internship = True
    else:
        internship = False
        
    if employment_set_var & set(employment_categories[4].split(',')):
        volunteering = True
    else:
        volunteering = False
       
    return pd.Series([full_time, part_time, project, internship, volunteering])


def get_schedule(schedule):
    # Создаем список ключевых слов для проверки категории рабочего графика
    schedule_categories = ['вахтовый метод', 'гибкий график', 'удаленная работа', 'полный день', 'сменный график']
    # Разбиваем строку на слова через заяпятую
    schedule_set = schedule.split(', ')
    schedule_set_var = set(schedule_set)
        
    # Определяем категории рабочего графика 
    if schedule_set_var & set(schedule_categories[0].split(',')):
        watch = True
    else:
        watch = False
    
    if schedule_set_var & set(schedule_categories[1].split(',')):
        flexible = True
    else:
        flexible = False
        
    if schedule_set_var & set(schedule_categories[2].split(',')):
        remotely = True
    else:
        remotely = False
        
    if schedule_set_var & set(schedule_categories[3].split(',')):
        full_day = True
    else:
        full_day = False
        
    if schedule_set_var & set(schedule_categories[4].split(',')):
        shifting = True
    else:
        shifting = False    
       
    return pd.Series([watch, flexible, remotely, full_day, shifting])
    
hh_database[['полная занятость', 'частичная занятость', 'проектная работа', 'стажировка', 'волонтерство']] = hh_database['Занятость'].apply(get_employment)

hh_database[['вахтовый метод','гибкий график', 'удаленная работа', 'полный день', 'сменный график']] = hh_database['График'].apply(get_schedule)

# Удаляем столбцец "Город, переезд, командировки"
hh_database.drop(columns=['Занятость', 'График'], axis=1, inplace=True)

6. (2 балла) Наконец, мы добрались до самого главного и самого важного - признака заработной платы **"ЗП"**. 
В чем наша беда? В том, что помимо желаемой заработной платы соискатель указывает валюту, в которой он бы хотел ее получать, например:
* 30000 руб.
* 50000 грн.
* 550 USD

Нам бы хотелось видеть заработную плату в единой валюте, например, в рублях. Возникает вопрос, а где взять курс валют по отношению к рублю?

На самом деле язык Python имеет в арсенале огромное количество возможностей получения данной информации, от обращения к API Центробанка, до использования специальных библиотек, например pycbrf. Однако, это не тема нашего проекта.

Поэтому мы пойдем в лоб: обратимся к специальным интернет-ресурсам для получения данных о курсе в виде текстовых файлов. Например, MDF.RU, данный ресурс позволяет удобно экспортировать данные о курсах различных валют и акций за указанные периоды в виде csv файлов. Мы уже сделали выгрузку курсов валют, которые встречаются в наших данных за период с 29.12.2017 по 05.12.2019. Скачать ее вы можете **на платформе**

Создайте новый DataFrame из полученного файла. В полученной таблице нас будут интересовать столбцы:
* "currency" - наименование валюты в ISO кодировке,
* "date" - дата, 
* "proportion" - пропорция, 
* "close" - цена закрытия (последний зафиксированный курс валюты на указанный день).


Перед вами таблица соответствия наименований иностранных валют в наших данных и их общепринятых сокращений, которые представлены в нашем файле с курсами валют. Пропорция - это число, за сколько единиц валюты указан курс в таблице с курсами. Например, для казахстанского тенге курс на 20.08.2019 составляет 17.197 руб. за 100 тенге, тогда итоговый курс равен - 17.197 / 100 = 0.17197 руб за 1 тенге.
Воспользуйтесь этой информацией в ваших преобразованиях.

<img src=https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/table.jpg>


Осталось только понять, откуда брать дату, по которой определяется курс? А вот же она - в признаке **"Обновление резюме"**, в нем содержится дата и время, когда соискатель выложил текущий вариант своего резюме. Нас интересует только дата, по ней бы и будем сопоставлять курсы валют.

Теперь у нас есть вся необходимая информация для того, чтобы создать признак "ЗП (руб)" - заработная плата в рублях.

После ответа на контрольные вопросы удалите исходный столбец заработной платы "ЗП" и все промежуточные столбцы, если вы их создавали.

Итак, давайте обсудим возможный алгоритм преобразования: 
1. Перевести признак "Обновление резюме" из таблицы с резюме в формат datetime и достать из него дату. В тот же формат привести признак "date" из таблицы с валютами.
2. Выделить из столбца "ЗП" сумму желаемой заработной платы и наименование валюты, в которой она исчисляется. Наименование валюты перевести в стандарт ISO согласно с таблицей выше.
3. Присоединить к таблице с резюме таблицу с курсами по столбцам с датой и названием валюты (подумайте, какой тип объединения надо выбрать, чтобы в таблице с резюме сохранились данные о заработной плате, изначально представленной в рублях). Значение close для рубля заполнить единицей 1 (курс рубля самого к себе)
4. Умножить сумму желаемой заработной платы на присоединенный курс валюты (close) и разделить на пропорцию (обратите внимание на пропуски после объединения в этих столбцах), результат занести в новый столбец "ЗП (руб)".

In [791]:
ExchangeRates = pd.read_csv('data/ExchangeRates.csv', sep=',', on_bad_lines='skip')
ExchangeRates.head(5)

ExchangeRates['date'] = pd.to_datetime(ExchangeRates['date'], dayfirst=True).dt.strftime("%d-%m-%Y")
hh_database['Обновление резюме'] = pd.to_datetime(hh_database['Обновление резюме'], dayfirst=True).dt.strftime("%d-%m-%Y")

In [792]:
ExchangeRates.head(5)

  currency per        date   time    close  vol  proportion
0      USD   D  29-12-2017  00:00  57.6291    0           1
1      USD   D  30-12-2017  00:00  57.6002    0           1
2      USD   D  31-12-2017  00:00  57.6002    0           1
3      USD   D  01-01-2018  00:00  57.6002    0           1
4      USD   D  02-01-2018  00:00  57.6002    0           1

In [793]:
hh_database.head(5)

,ЗП,Ищет работу на должность:,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц),...,полная занятость,частичная занятость,проектная работа,стажировка,волонтерство,вахтовый метод,гибкий график,удаленная работа,полный день,сменный график
0,29000 руб.,Системный администратор,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16-04-2019,Имеется собственный автомобиль,неоконченное высшее,М,39,202.0,...,True,True,True,False,False,True,True,True,True,True
1,40000 руб.,Технический писатель,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12-04-2019,Не указано,высшее,М,60,233.0,...,True,True,True,False,False,False,True,True,True,True
2,20000 руб.,Оператор,ПАО Сбербанк,Кассир-операционист,16-04-2019,Не указано,среднее специальное,Ж,36,123.0,...,True,False,False,False,False,False,False,False,True,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,OpenSoft,Инженер-программист,08-04-2019,Не указано,высшее,М,38,225.0,...,True,True,True,False,False,False,True,True,False,False
4,140000 руб.,Региональный менеджер по продажам,Мармелад,Менеджер по продажам,22-04-2019,Не указано,высшее,Ж,26,67.0,...,True,False,False,False,False,False,False,False,True,False

In [794]:
h = hh_database.iloc[49:151]
h.head(2)

def get_payment(data):
    currency_dict = \
    {'грн.':'UAH', 'руб.':'RUB', 'KZT':'KZT', 'USD':'USD', 
    'бел.руб.':'BYN', 'EUR':'EUR', 'сум':'UZS', 
    'KGS':'KGS', 'AZN':'AZN'}
    salary_split = data.split()
    for i in currency_dict.keys():
        if i == salary_split[1]:
            return pd.Series([currency_dict.get(i), salary_split[0]])

h[['валюта','зарплата']]= h['ЗП'].apply(get_payment)

h.head(2)

merged = h.merge(
    ExchangeRates,
    left_on = ['Обновление резюме','валюта'],
    right_on = ['date','currency'],
    how='left'
)
merged[['currency', 'proportion', 'close']].fillna(1)
merged['currency'].apply(lambda x: 1 if x == np.nan else x)

display(merged)



# def get_transfer(data):
#     for 

# for row in h.items():
#     salary_split = h.loc['ЗП'].split()
#     print(salary_split)
#     for i in currency_dict.keys():
#         if i == salary_split[1]:
#             print(currency_dict.get(i))
#             h['валюта'] = currency_dict.get(i)
#     print(h)
#     merged = hh_database.merge(
#         ExchangeRates,
#         left_on='валюта',
#         right_on= 'currency',
#         how='left'
#     )
#     display(merged)

C:\Users\artem.truschelev\AppData\Local\Temp\ipykernel_19060\3903937340.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h[['валюта','зарплата']]= h['ЗП'].apply(get_payment)
C:\Users\artem.truschelev\AppData\Local\Temp\ipykernel_19060\3903937340.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h[['валюта','зарплата']]= h['ЗП'].apply(get_payment)

,ЗП,Ищет работу на должность:,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы (месяц),...,сменный график,валюта,зарплата,currency,per,date,time,close,vol,proportion
0,70000 руб.,Программист,Индивидуальное предпринимательство / частная п...,Программист,13-05-2019,Не указано,высшее,М,24,38.0,...,False,RUB,70000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25000 руб.,Диспетчер,Ростелеком,Рекламный агент,07-05-2019,Имеется собственный автомобиль,среднее специальное,Ж,46,303.0,...,True,RUB,25000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50000 руб.,Специалист по ремонту бытовой техники,"АО ""Ральф Рингер""",Наладчик швейного оборудования 6 разряда,07-05-2019,Не указано,среднее специальное,М,36,96.0,...,False,RUB,50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,40000 руб.,Трафик-менеджер,Индивидуальное предпринимательство / частная п...,Менеджер по контекстной рекламе,19-04-2019,Не указано,высшее,М,23,65.0,...,False,RUB,40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20000 руб.,Системный администратор,отдел Министерства Внутренних Дел России по г....,Инженер-электроник,12-04-2019,Не указано,среднее специальное,М,46,149.0,...,False,RUB,20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,40000 руб.,ИТ-специалист,Сбербанк,Старший инженер,10-04-2019,Не указано,высшее,Ж,29,89.0,...,False,RUB,40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,5500 USD,"Разработчик ПО, аналитик, консультант","Canary Systems, Inc",.NET Development Team Lead (remotely),26-04-2019,Не указано,высшее,М,37,175.0,...,False,USD,5500,USD,D,26-04-2019,00:00,64.6794,0.0,1.0
99,150000 руб.,"Программист Oracle, ETL, Informatica",ООО Redsys,Старший программист ETL,20-09-2018,Не указано,высшее,Ж,26,70.0,...,False,RUB,150000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,80000 руб.,Системный администратор,"РусФинИнвест, ООО",Системный администратор,07-05-2019,Не указано,неоконченное высшее,М,35,185.0,...,False,RUB,80000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,40000 руб.,Техник-монтажник,NVBC,"Монтажник группы ремонта районных сетей ""Билайн """,07-05-2019,Имеется собственный автомобиль,среднее специальное,М,24,28.0,...,False,RUB,40000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [795]:
# def get_salary(arg):
#     currency_dict = \
#     {'грн.':'UAH', 'руб.':'RUB', 'KZT':'KZT', 'USD':'USD', 
#      'бел.руб.':'BYN', 'EUR':'EUR', 'сум':'UZS', 
#      'KGS':'KGS', 'AZN':'AZN'}
#     salary_split = arg.split('')

# Исследование зависимостей в данных

1. Постройте распределение признака **"Возраст"**. Опишите распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится возраст большинства соискателей? Есть ли аномалии для признака возраста, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [796]:
# ваш код здесь

ваши выводы по графику здесь

2. Постройте распределение признака **"Опыт работы (месяц)"**. Опишите данное распределение, отвечая на следующие вопросы: чему равна мода распределения, каковы предельные значения признака, в каком примерном интервале находится опыт работы большинства соискателей? Есть ли аномалии для признака опыта работы, какие значения вы бы причислили к их числу?
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [797]:
# ваш код здесь

ваши выводы здесь

3. Постройте распределение признака **"ЗП (руб)"**. Опишите данное распределение, отвечая на следующие вопросы: каковы предельные значения признака, в каком примерном интервале находится заработная плата большинства соискателей? Есть ли аномалии для признака возраста? Обратите внимание на гигантские размеры желаемой заработной платы.
*Совет: постройте гистограмму и коробчатую диаграмму рядом.*

In [798]:
# ваш код здесь

ваши выводы здесь

4. Постройте диаграмму, которая показывает зависимость **медианной** желаемой заработной платы (**"ЗП (руб)"**) от уровня образования (**"Образование"**). Используйте для диаграммы данные о резюме, где желаемая заработная плата меньше 1 млн рублей.
*Сделайте выводы по представленной диаграмме: для каких уровней образования наблюдаются наибольшие и наименьшие уровни желаемой заработной платы? Как вы считаете, важен ли признак уровня образования при прогнозировании заработной платы?*

In [799]:
# ваш код здесь

ваши выводы здесь

5. Постройте диаграмму, которая показывает распределение желаемой заработной платы (**"ЗП (руб)"**) в зависимости от города (**"Город"**). Используйте для диаграммы данные о резюме, где желая заработная плата меньше 1 млн рублей.
*Сделайте выводы по полученной диаграмме: как соотносятся медианные уровни желаемой заработной платы и их размах в городах? Как вы считаете, важен ли признак города при прогнозировании заработной платы?*

In [800]:
# ваш код здесь

ваши выводы здесь

6. Постройте **многоуровневую столбчатую диаграмму**, которая показывает зависимость медианной заработной платы (**"ЗП (руб)"**) от признаков **"Готовность к переезду"** и **"Готовность к командировкам"**. Проанализируйте график, сравнив уровень заработной платы в категориях.

In [801]:
# ваш код здесь

In [802]:
#ваши выводы здесь

7. Постройте сводную таблицу, иллюстрирующую зависимость **медианной** желаемой заработной платы от возраста (**"Возраст"**) и образования (**"Образование"**). На полученной сводной таблице постройте **тепловую карту**. Проанализируйте тепловую карту, сравнив показатели внутри групп.

In [803]:
# ваш код здесь

ваши выводы здесь

8. Постройте **диаграмму рассеяния**, показывающую зависимость опыта работы (**"Опыт работы (месяц)"**) от возраста (**"Возраст"**). Опыт работы переведите из месяцев в года, чтобы признаки были в едином масштабе. Постройте на графике дополнительно прямую, проходящую через точки (0, 0) и (100, 100). Данная прямая соответствует значениям, когда опыт работы равен возрасту человека. Точки, лежащие на этой прямой и выше нее - аномалии в наших данных (опыт работы больше либо равен возрасту соискателя)

In [804]:
# ваш код здесь

ваши выводы здесь

**Дополнительные баллы**

Для получения 2 дополнительных баллов по разведывательному анализу постройте еще два любых содержательных графика или диаграммы, которые помогут проиллюстрировать влияние признаков/взаимосвязь между признаками/распределения признаков. Приведите выводы по ним. Желательно, чтобы в анализе участвовали признаки, которые мы создавали ранее в разделе "Преобразование данных".

In [805]:
# ваш код здесь

ваши выводы здесь

# Очистка данных

1. Начнем с дубликатов в наших данных. Найдите **полные дубликаты** в таблице с резюме и удалите их.

In [806]:
# ваш код здесь

2. Займемся пропусками. Выведите информацию **о числе пропусков** в столбцах.

In [807]:
# ваш код здесь

3. Итак, у нас есть пропуски в 3ех столбцах: **"Опыт работы (месяц)"**, **"Последнее/нынешнее место работы"**, **"Последняя/нынешняя должность"**. Поступим следующим образом: удалите строки, где есть пропуск в столбцах с местом работы и должностью. Пропуски в столбце с опытом работы заполните **медианным** значением.

In [808]:
# ваш код здесь

4. Мы добрались до ликвидации выбросов. Сначала очистим данные вручную. Удалите резюме, в которых указана заработная плата либо выше 1 млн. рублей, либо ниже 1 тыс. рублей.

In [809]:
# ваш код здесь

5. В процессе разведывательного анализа мы обнаружили резюме, в которых **опыт работы в годах превышал возраст соискателя**. Найдите такие резюме и удалите их из данных

In [810]:
# ваш код здесь

6. В результате анализа мы обнаружили потенциальные выбросы в признаке **"Возраст"**. Это оказались резюме людей чересчур преклонного возраста для поиска работы. Попробуйте построить распределение признака в **логарифмическом масштабе**. Добавьте к графику линии, отображающие **среднее и границы интервала метода трех сигм**. Напомним, сделать это можно с помощью метода axvline. Например, для построение линии среднего будет иметь вид:

`histplot.axvline(log_age.mean(), color='k', lw=2)`

В какую сторону асимметрично логарифмическое распределение? Напишите об этом в комментарии к графику.
Найдите выбросы с помощью метода z-отклонения и удалите их из данных, используйте логарифмический масштаб. Давайте сделаем послабление на **1 сигму** (возьмите 4 сигмы) в **правую сторону**.

Выведите таблицу с полученными выбросами и оцените, с каким возрастом соискатели попадают под категорию выбросов?

In [811]:
# ваш код здесь

ваш коммментарий здесь